<ion-content #pageContent scrollEvents="true" fixedHeaderBar="true">

  <header-bar [content]="content" header="Dashboard" showMenuBtn="true" hideBackBtn="true" slot="fixed" fixed="true"></header-bar>
  <header-bar-context header="Dashboard" subHeader="Welcome Back!">


    <ion-slides class="statis-cards" [options]="slideOpts">
      <ion-slide>
      <ion-card class="ion-text-start water-card">
        <ion-card-header>
          <ion-icon name="water"></ion-icon>
          <ion-card-title>Pumps</ion-card-title>
          <div class="pull-right">
            <ion-toggle></ion-toggle>
          </div>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
    <ion-card class="ion-text-start light-card">
      <ion-card-header>
        <ion-icon name="bulb"></ion-icon>
        <ion-card-title>Light</ion-card-title>
        <div class="pull-right">
          <ion-toggle></ion-toggle>
        </div>
      </ion-card-header>
    </ion-card>
  </ion-slide>
  </ion-slides>
  <div style="height: 3000px;"></div>
  </header-bar-context>
</ion-content>
